@use "@styles/form-field" as form-field;

.select {
  @include form-field.wrapper;

  &__field {
    @include form-field.field;
    padding-right: 2rem;
    background: white url("../../assets/icons/chevron-down.svg") no-repeat right 0.5rem center / 1rem;
    overflow: hidden;
  }
}
