.tax-calculation-table {
  &__init,
  &__loading,
  &__loaded,
  &__empty {
    @extend %centered-content;
  }

  &__error {
    @extend %centered-content;
    text-align: center;
    gap: 0.5rem;
  }

  &__error-icon {
    fill: red;
  }
}

%centered-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}
