.table {
  border-spacing: 0.5rem;

  &__header-cell {
    font-size: 1.5rem;
  }

  &__cell {
    padding: 0.25rem;
    border-bottom: 1px solid var(--md-sys-color-outline);

    &--left {
      text-align: left;
    }

    &--center {
      text-align: center;
    }

    &--right {
      text-align: right;
    }
  }

  &__footer {
    tr:first-child td {
      padding-top: 1rem;
    }
  }

  &__footer-cell--key {
    vertical-align: bottom;
  }
}
